@font-face{
    font-family: 'Helvetica';
    src: url('/font/Helvetica\ Neue\ Regular.otf');
}

:root{
    --main: #3A4F97;
    --main2: #D6E1FF;
    --bg: #11131F;
}

html{
    font-size: 52.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    font-family: 'Helvetica', sans-serif;
    background: var(--bg);
    color: white;
}

.music-wrap{
    overflow: clip;
    border-radius: 1rem;
    border: 1px solid white;
    width: fit-content;
    margin: auto;
}

h1{
    padding-top: 2rem;
    text-transform: uppercase;
    font-size: 6rem;
    text-align: center;
}

.album-cover-holder{
    display: block;
    height: 25rem;
    background-image: url('../img/The_Chambers_Brothers_-_Album.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

button{
    transition: 0.2s ease;
    background: var(--main);
    color: white;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
}

button:hover{
    scale: 1.1;
}

#next-btn,#prev-btn{
    height: 6rem;
    width: 6rem;
    border-radius: 20rem;
}

input[type="range"] {
    -webkit-appearance: none;
    background: var(--main);
    border-radius: 0.6rem;
    outline: none;
  }


/* For WebKit browsers (Chrome, Safari) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--main2);
    cursor: pointer;
}

/* For Mozilla Firefox */
input[type="range"]::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--main2);
    cursor: pointer;
}

/* For Microsoft Edge */
input[type="range"]::-ms-thumb {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--main2);
    cursor: pointer;
}


.audio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    button{
        margin: 0rem 1rem;
    }
    .aduio-container__custom-controls{
        width: fit-content;
        margin: auto;
    }
    .custom-controls__volume-control{
        display: block;
        margin-top: 2rem;
        width: 100%;
    }
}

#visualizer {
    width: 40rem;
    height: 10rem;
    background-color: #3A4F97;
  }

#time-display{
    font-size: 2.4rem;
    text-align: center;
    margin-top: 2rem;
    transform: translateY(1rem);
}


.app-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    h2{
        padding: 1rem;
        background: #3A4F97;
        text-align: center;
    }
    overflow: clip;
    border-radius: 1rem;
    border: 1px solid white;
    margin-top: 4rem;
    list-style: none;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    .li-wrap{
        height: 30rem;
        overflow: auto;
        scrollbar-color: #7c8ab8 #f1f1f1; 
       scrollbar-width: thin; /* For Firefox */
    }
    

    li{
        background: #3A4F97;
        width: 90%;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 2rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        cursor: pointer;
    }
}

.album-cover{
    width: 6rem;
}


  
@media(max-width:400px){
    html{
        font-size: 42%;
    }
    #track-list{
        width: 80%;
    }
}